<%= form.error_messages %>

<p>
	<%= form.label :full_name %><br/>
	<%= form.text_field :full_name %>
</p>

<p>
	<%= form.label :email_address %><br/>
	<%= form.text_field :email_address %>
</p>

<p>
	<%= form.label :password %><br/>
	<%= form.password_field :password %>
</p>