<% if flash[:error].present? %>
	<%= flash[:error] %>
<% end %>

<h1>Sign in</h1>

<%= form_tag user_session_path do %>
	<p>
		<%= label_tag :email_address %><br/>
		<%= text_field_tag 'user_session[email_address]', (params[:user_session][:email_address] if params[:user_session].present?) %>
	</p>

	<p>
		<%= label_tag :password %><br/>
		<%= password_field_tag 'user_session[password]' %>
	</p>

	<%= submit_tag 'Sign in' %>
<% end %>